// partners-login-page
.partners-login{
  background-color: #fef7f0;
  padding:80px 0 80px;
  &__inner{
    display:flex;
    justify-content:space-around;
    align-items:center;
  }
}
// end partners login-page