html,
body,
.wrapper{
  height:100%;
}


body{
  @extend %rubik-400;
  font-size:14px;
  line-height: 32px;
  background-color: #fff;
}

.wrapper{
  max-width:1920px;
  width:100%;
  margin:0 auto;
  display:flex;
  flex-direction:column;
}
.out-container{
  max-width:1800px;
  width:100%;
  padding:0 15px;
  margin:0 auto;
}

.main{
  flex-grow: 1;
}

.container{
  max-width:1200px;
  padding:0 15px;
  margin:0 auto;
}


.title{
  @extend %dmsans-700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 35px;
  color: $title;
}

.top__title{
  @extend %rubik-400;
  text-align: center;
  font-size: 36px;
  line-height: 40px;
  color:$top-title;
  padding:25px 0 10px;
}
 
.filter{
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 30px;
    color:#8b8b8b;
    border:none;
    background-color: transparent;
    padding:0;
    cursor:pointer;
    outline: transparent;
    & + .filter{
      margin-left: 30px;
    }
    &.active{
      color:$title;
    }
  }
.filter__btn{
  text-align: center;
  margin-bottom: 80px; 
}

.breadcrumbs{
  display:flex;
  justify-content:center;
  align-items:center;
  &__list{
    display:flex;
  }
  &__item{
    color:#9a9ea2;
    padding-right:20px;
    position:relative;
    &::after{
      content:'/';
      position:absolute;
      right:5px;
      top:50%;
      transform:translateY(-50%);
    }
    &:last-child{
      padding-right:0;
      &::after{
        display:none;
      }
    }
  }
  &__link{
    color:inherit;
  }
}
