html,
body,
.wrapper{
  height:100%;
}


body{
  @extend %rubik-400;
  font-size:14px;
  line-height: 32px;
  background-color: #fff;
}

.wrapper{
  max-width:1920px;
  width:100%;
  margin:0 auto;
  display:flex;
  flex-direction:column;
}
.out-container{
  max-width:1800px;
  width:100%;
  padding:0 15px;
  margin:0 auto;
}

.main{
  flex-grow: 1;
}

.container{
  max-width:1200px;
  padding:0 15px;
  margin:0 auto;
}


.title{
  @extend %dmsans-700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 35px;
  color: $title;
}

.top__title{
  @extend %rubik-400;
  text-align: center;
  font-size: 36px;
  line-height: 40px;
  color:$top-title;
  padding:25px 0 10px;
}
 
.filter{
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 30px;
    color:#8b8b8b;
    border:none;
    background-color: transparent;
    padding:0;
    cursor:pointer;
    outline: transparent;
    & + .filter{
      margin-left: 30px;
    }
    &.active{
      color:$title;
    }
  }
.filter__btn{
  text-align: center;
  margin-bottom: 80px; 
}

.breadcrumbs{
  display:flex;
  justify-content:center;
  align-items:center;
  &__list{
    display:flex;
  }
  &__item{
    color:#9a9ea2;
    padding-right:20px;
    position:relative;
    &::after{
      content:'/';
      position:absolute;
      right:5px;
      top:50%;
      transform:translateY(-50%);
    }
    &:last-child{
      padding-right:0;
      &::after{
        display:none;
      }
    }
  }
  &__link{
    color:inherit;
  }
}

.filter-poppup{
  &.filter-poppup__disabled{
    .filter-poppup__btn{
      height: 18px;
      width: 18px;
      position:relative;
      background-color: transparent;
      &::before,
      &::after{
        content:'';
        position:absolute;
        background-color: $cards;
      }
      &::before{
        height: 2px;
        width: 18px;
        top:50%;
        transform: translateY(-50%);
        left:0;
      }
      &::after{
        width:2px;
        height:18px;
        top:0;
        left:50%;
        transform:translateX(-50%);
      }
    }
    .filter-poppup__form{
      display:none;
    }
  }
  &__label{
    display:flex;
    align-items:center;
    cursor:pointer;
  }
  &__btn{
    margin-left: 30px;
    border:none;
    height: 2px;
    width:40px;
    background-color: #c8d6de;
  }
}
.pagination{
  max-width:470px;
  width:100%;
  margin:0 auto;
  display:flex;
  justify-content: center;
  align-items:baseline;
  &__list{
    display:flex;
  }
  &__item + li{
    margin-left:10px;
  }
  &__link,
  &__next,
  &__prev{
    font-size: 16px;
    line-height: 30px;
    color:$cards;
    padding: 19px 20px;
    border:1px solid $btn;
    transition:all .4s;
  }
  &__link{
    &:hover{
      background-color: #a3bbc8;
      color:#fff;
    }
  }
  &__next{
    margin-left: 10px;
    line-height: 19px;
    &:hover{
      background-color: #a3bbc8;
      color:#fff;
      transform:translate(3px, 3px);
    }
  }
  &__prev{
    margin-right: 10px;
    line-height: 19px;
    display:none;
    &:hover{
      background-color: #a3bbc8;
      color:#fff;
      transform:translate(-3px, 3px);
    }
  }
  &__link--active{
      background-color: #a3bbc8;
      color:#fff;
  }
}