$links:#7b7b7b;
$default:#436372;
$title:#191919;
$cards:#243f4d;

%rubik-400{
  font-family:'Rubik-Regular', sans-serif;
  font-weight:400;
}

%rubik-500{
  font-family:'Rubik-Medium', sans-serif;
  font-weight:500;
}

%poppins-700{
  font-family:'Poppins-Bold', sans-serif;
  font-weight:700;
}

%dmsans-400{
  font-family:'DMSans-Regular', sans-serif;
  font-weight:400;
}

%dmsans-500{
  font-family:'DMSans-Medium', sans-serif;
  font-weight:500;
}

%dmsans-700{
  font-family:'DMSans-Bold', sans-serif;
  font-weight:700;
}
%lb{
  @extend %rubik-500;
  font-size: 15px;
    line-height: 25px;
    padding:20px 100px 20px 30px;
    position:relative;
    & svg{
      position:absolute;
      right:18px;
      top:50%;
      transform: translateY(-50%);
    }
}

// fancy box fixed 'Sniped' "fbr+tab"
@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}