@import 'vars';
@import 'fonts';
@import 'libs';
@import 'reset';
@import 'global';

// header
.header{
  padding:40px 0;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.menu{
  &__list{
    display:flex;
  }
  &__list-item + .menu__list-item{
    margin-left: 30px;
  }
  &__list-link{
    @extend %poppins-700;
    font-size:15px;
    line-height: 12px;
    color:$default;
  }
}

.user-nav{
  display:flex;
  &__link{
    width:50px;
    height:50px;
    box-sizing: border-box;
  }
  &__link--heart{
    border-radius:50px 0 0 50px;
    &:after{
      content:'';
      position:absolute;
      right:0;
      width:3px;
      height:30px;
      background-color: #fde7d3;
      top:50%;
      transform: translateY(-50%);
    }
  }
  &__link--cart{
    border-radius: 0 50px 50px 0 ;
  }
  &__link--heart,
  &__link--cart{
  padding:20px 30px;
  margin: 0;
  position:relative; 
  background-color: #fcd7b6;
  }
  &__link--search{
    margin-right: 20px;
  }
  &__link--dots{
    margin-left: 20px;
  }
  &__link--dots,
  &__link--search{
    position:relative;
    padding:0;
    border-radius: 50%;
    background-color: #edf1f4;
    transition:all .3s;
    &:hover{
      background-color: #a3bbc8;
    }
  }
  &__img{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate3d(-50%, -50%, 0);
  }
  &__numb{
    position:absolute;
    top:15%;
    right:15%;
    transform: translate(-15%, -15%);
    background-color: #fff;
    border-radius:50%;
    font-size:10px;
    line-height:16px;
    width:16px;
    text-align: center;
    color:#243f4d;
  }
}

// end header
// slider
.slider{
  padding-top:220px;
  background-repeat: no-repeat;
  background-position: 84% 50%;
  background-color: #fcd7b6;
  &__item{
    padding-left:40px;
  }
  &__content-box{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom: 160px;
  }
  &__content{
    max-width:470px;
  }
  &__content-title{
    @extend %rubik-500;
    font-size: 72px;
    line-height:86px;
    color:#243f4d;
    margin-bottom: 35px;
  }
  &__content-text{
    font-size: 18px;
    line-height: 30px;
    color:$default;
    max-width:370px;
  }
  &__content-link{
    display:inline-block;
    color:#fff;
    margin-top: 40px;
    background-color: #a3bbc8;
    @extend %lb;
    transition:all .3s;
    & path{
      fill:#fff;
    }
    &:hover{
      animation: pulse 1s infinite;
      border-radius:12px;
      background-color: #fff;
      color: #a3bbc8;
      path{
        fill:#a3bbc8;
      }
    }
    
  }
  .slick-dots{
    display:flex;
    justify-content: center;
    margin: 0;
    padding:0;
    padding-bottom: 45px;
  }
  .slick-active button{
    opacity:1;
  }
  li{
    padding:0;
    button{
      line-height: 0;
      border-radius: 50%;
      font-size: 11px;
      padding:12px 10px;
      border:none;
      margin-right: 10px;
      opacity:0.5;
    }
  }  
}

// end slider
// info
.info{
  min-height:170px;
  background-color: #fef7f0;
  &__items{
    display:flex;
    justify-content:space-around;
    align-items:center;
  }
  &__item{
    display:flex;
    align-items: flex-start;
    min-height: 90px;
    margin: 45px 0;
  }
  &__item-icon{
    padding:5px;
    position:relative;
    &::after{
      content:'';
      position:absolute;
      background-image: url(../images/icons/info-decor.svg);
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      right:0;
      bottom:0;
    }
  }
  &__item-inner{
    max-width:215px;
    margin-left: 25px;
  }
  &__item-title{
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 18px;
    color:#414141;
  }
  &__item-text{
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 30px;
    color:#585858;
  }
}
// end info
// filter product


.product{
  padding:75px 0 90px;
  &__items{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    grid-column-gap:30px;
    grid-row-gap:40px;
  }
  &__item{
    max-width:270px;
    width:100%;
    min-height:380px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    background-color: #fff;
    border-radius:12px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    position:relative;
    &:hover .product__item-inner{
      opacity:1;
    }
  }
  &__item-photo{
    padding:30px 15px 70px;
    margin:0 auto;
    min-height:305px;
  }
  &__item-title{
    @extend %dmsans-500;
    color:$cards;
  }
  &__item-price{
    @extend %dmsans-700;
    color:#a3bbc8;
    margin-bottom: 40px;
  }
  &__item-inner{
    opacity:0;
    position:absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%);
    transition: opacity .2s;
  }
  &__item-menu{
    display:flex;
    justify-content:space-around;
    align-items: center;
  }
  &__item-link + .product__item-link{
    margin-left: 25px;
  }
  &__item-link{
    line-height: 0;
    padding:12px 12px;
    border-radius: 50%;
    transition:all .3s;
  }
  &__item-link,
  &__item-icon{
    background-color: #fff;
    &:hover{
      background-color: #a3bbc8;
      fill:#fff;
    }
  }
  
}
// end filter
.promo{
  padding: 85px 0 50px;
  &__inner{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
  }
  &__item{
    display:flex;
    justify-content:flex-end;
    align-items: center;
    background-color: #feefe2;
    max-width:870px;
    min-height: 400px;
    width:100%;
    &:first-child{
      margin-right: 20px;
    }
  }
  &__item-content{
    max-width: 400px;
    color:$cards;
  }
  &__item-img{
    margin-top: -150px;
    margin-right: 20px;
  }
  &__item-title{
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 25px;
    max-width: 250px;
  }
  &__item-text{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 25px;
  }
  &__item-link{
    @extend %lb;
    display:inline-block;
    border:1px solid $cards;
    border-radius: 8px;
    color:$cards;
    transition:all .3s; 
    & path{
      fill:inherit;
    }
    &:hover{
      background-color: $cards;
      color:#fff;
      path{
        fill:#fff;
      }
    }
  }
}
// end promo

// design
.design{
  padding:50px 0 60px;
  &__items{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap:35px 30px;
  }
  &__item{
    position:relative;
    transition:transform .3s linear;
    &:hover{
      transform: scale(1.1);
      z-index:5;
    }
  }
  &__item-content{
    position:absolute;
    top:35px;
    left:35px;
    @extend %dmsans-700;
    color:$title;
  }
  &__item-img{
    max-width:370px;
    width:100%;
    height:250px;
    object-fit: cover;
  }
  &__item-title{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
    max-width:180px;
  }
  &__item-subtitle{
    color:#a3bbc8;
    font-size: 16px;
  }

}
// end design

// video
.video{
  margin:60px 0 55px;
  min-height:500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display:flex;
  justify-content: center;
  align-items:center;
  &__link-btn{
    border-radius: 50%;
    &:hover{
        animation: pulse 1s infinite;
      }
    }
}

// video
// articles
.articles{
  padding:55px 0 0px;
  &__wrapper{
    display:flex;
    justify-content:space-between;
    align-items: baseline;
    margin-bottom: 30px;
  }
  &__title{
    margin-bottom: 0;
  }
  &__link{
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 24px;
    color:$title;
    & span{
      margin-left: 15px;
      & path{
        fill:$title;
      }
    }
  }
  &__inner{
    background-color: #fef7f0;
    margin-top:280px;
  }
  &__items{
    display:flex;
    justify-content: space-between;
    transform:translateY(-250px);
  }
  &__item{
    max-width:370px;
    width:100%;
    background-color: #fff;
    border-radius: 18px;
    transition:all .3s;
    &:hover{
      transform:scale(1.1);
    }
  }
  &__item-link{
    display:flex;
    flex-direction: column;
  }
  &__item-img{
    max-width:370px;
    width:100%;
    height:250px;
    object-fit: cover;
  }
  &__item-mark{
    text-transform: uppercase;
    max-width:100px;
    @extend %poppins-700;
    line-height: 20px;
    color:#fff;
    background-color: #a3bbc8;
    border-radius:50px;
    padding:4px 30px;
    margin-left: 30px;
    transform:translateY(-15px);
  }
  &__item-title{
    @extend %dmsans-500;
    font-size: 18px;
    line-height: 22px;
    color:#262626;
    padding-bottom:22px;
    margin:0 auto;
    max-width:315px;
    width:100%;
    border-bottom:1px solid #e0e0e0;
  }
}

.item-info{
  min-height:60px;
  display:flex;
  flex-direction:row;
  align-items:center;
  text-transform: uppercase;
  color:$title;
  padding-left:30px;  
  &__date{
    margin-right: 30px;
  }
}
// partners
.partners{
  display:flex;
  justify-content: space-around;
  align-items:center;
  min-height:100px;
  margin-top:-160px;
  padding-bottom:90px;
}
// end partners
// end articles
// footer
.footer-top{
  padding-top:70px;
  padding-bottom: 60px;
  display:flex;
  justify-content:space-between;
  border-bottom:1px solid #dae4e9;
  &__logo{
    display:inline-block;
    margin-bottom: 25px;
  }
  &__item{
    max-width:150px;
  }
  &__item-contact{
    max-width:200px;
  }
  &__item-form{
    width:300px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: 25px;
    padding-top:22px;
  }
  &__list-item{
    @extend %rubik-500;
    margin-bottom: 20px;
    line-height: 18px;
  }
  &__list-link{
    color:$links;
    font-size:14px;
  }
  &__text{
    color:$links;
    font-size:14px;
    line-height:18px;
    margin-bottom: 30px;
  }
  &__form{
    @extend %dmsans-400;
  }
  &__form-input{
    font-size: 12px;
    line-height:18px;
    padding:8px 10px 8px 15px;
    margin-right: 5px;
  }
  &__form-btn{
    background-color: #a3bbc8;
    border:none;
    color:#fff;
    padding:10px 15px;
    font-size: 14px;
    line-height: 21px;
    cursor:pointer;
  }
}

.footer-bottom{
  display:flex;
  justify-content: space-between;
  @extend %rubik-500;
  color:$links;
  padding:35px 30px;
  &__list{
    display:flex;
  }
  &__list-item{
    position:relative;
  }
  &__list-item + .footer-bottom__list-item{
    margin-left: 20px;
    padding-left:20px;
  }
  &__list-item + .footer-bottom__list-item::before{
    content:'|';
    position:absolute;
    left:0;
  }
}
// end footer
// breadcrumbs
.top{
  min-height:125px;
  background-color: #edf1f4;
}
// end breadcrumbs
// About-page
.about{
  padding:120px 0;
  &__inner{
    display:flex;
    justify-content:space-between;
    align-items:center;
  }
  &__img{
    min-height:680px;
    max-width:570px;
    width:100%;
    object-fit: cover;
  }
  &__content{
    margin-left: 20px;
    max-width:570px;
    width:100%;
  }
  &__content-subtitle{
    display:flex;
    justify-content:start;
    align-items:center;
    margin-bottom: 40px;
  }

  &__content-numb{
    @extend %poppins-700;
    font-size: 140px;
    line-height: 0;
    color:#a3bbc8;
  }

  &__content-numbtext{
    font-size: 16px;
    line-height: 16px;
    color:#243f4d;
    margin-top: 18px;
    margin-left:30px;
  }
  &__title{
    color:#243f4d;
    text-align: left;
    margin-bottom: 45px;
  }
  &__content-text{
    color:#243f4d;
    font-size: 16px;
    max-width:550px;
    width:100%;
    padding-bottom: 65px;
    border-bottom:1px solid #e6eaf0;
    margin-bottom: 40px;
  }
  &__content-list{
    display:flex;
    max-width:570px;
    width:100%;
  }
  &__content-item + .about__content-item{
    margin-left: 20px;
  }
  &__content-item{
    @extend %dmsans-700;
    font-size: 36px;
    color:#243f4d;
    padding:0 20px 0 45px;
    position:relative;
    span{
      display:inline-block;
      font-size: 16px;
      color:#4c4c4c;
    }
    &::before{
      content:'';
      position:absolute;
      left:0;
      top:50%;
      transform:translateY(-50%);
      width: 42px;
      height: 40px;
    }
  }
  &__content-item--project::before{
    background-image: url('../images/about-page/progect.svg');
    background-repeat: no-repeat;
  }
  &__content-item--revenue::before{
    background-image: url('../images/about-page/revenue.svg');
    background-repeat: no-repeat;
  }
  &__content-item--awards{
    padding-right:0;
    &::before{
    background-image: url('../images/about-page/award.svg');
    background-repeat: no-repeat;
  }
  }
  &__content-item--project,
  &__content-item--revenue{
    &::after{
      content:'';
      position:absolute;
      background-color: #e6eaf0;
      height:80px;
      width:1px;
      right:0;
      top:50%;
      transform:translateY(-50%);
    }
  }

}
// about-info
.about-info{
  background-color: #fcd7b6;
  margin-bottom: 55px;
  &__items{
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:75px 0;
  }
  &__item{
    display:flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
  }
  &__img{
    margin-bottom: 20px;
    position:relative;
    &::after{
      content:'';
      position:absolute;
      bottom:-5px;
      right:-8px;
      background-color: #2da6f7;
      width: 30px;
      height: 30px;
      border-radius:50%;
      z-index:0;
      opacity:0.5;
    }
  }
  &__text{
    @extend %dmsans-700;
    color:#243f4d;
  }
  &__numb{
    font-size: 36px;
    margin-bottom: 20px;
  }
  &__subtitle{
    font-size: 18px;
  }
}
// end about-info
// team
.team{
  padding: 65px 0;
  &__inner{
    display:flex;
    justify-content:space-between;
  }
  &__content{
    max-width:300px;
    width:100%;
    text-align-last: left;
    color:#243f4d;
  }
  &__text{
    margin-bottom: 40px;
    font-size: 16px;
  }
  &__link{
    @extend %lb;
    background-color: #a3bbc8;
    border:none;
    border-radius:12px;
    color:#fff;
    transition:all .3s;
    &:hover{
      border:1px solid #a3bbc8;
      background-color:transparent;
      color:#a3bbc8;
      animation: pulse 1s infinite;
      path{
        fill:#a3bbc8;
      }
    }
  }
  &__foto{
    max-width:770px;
    width:100%;
  }
  &__foto-items{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-gap:40px 30px;
  }
  &__foto-item{
    max-width:370px;
    width:100%;
    min-height:380px;
    z-index:1;
    position:relative;
  }
  
  &__foto-infobox{
    min-height:110px;
    max-width:325px;
    width:100%;
    background-color: #fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 25px;
    position:absolute;
    left:0;
    bottom:0;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    z-index:2;
  }
  &__foto-info{
    max-width:180px;
    width:100%;
  }
  &__foto-link{
    @extend %dmsans-700;
    font-size: 22px;
    color:#243f4d;
  }
  &__foto-position{
    font-size: 16px;
    line-height: 30px;
    color:#565872;
  }
  &__foto-icons{
    display:inline-flex;
    justify-content:space-between;
    align-items: center;
  }
  &__foto-icon{
    margin:5px;
    background-color: #f6f6f6;
    border-radius:50%;
    transition:all .3s;
    &:hover{
      background-color: #e2e2e2;
      img{
        transform:scale(1.1);
      }
    }
  }
  &__foto-icon--instagram{
    padding:10px;
  }
  &__foto-icon--google{
    padding:10px 8px;
  }
}
// end team
// end About page
// terms&condition-page
.terms{
  padding-top:110px;
  color:#243f4d;
  &__title{
    font-size: 24px;
    line-height: 40px;
    @extend %rubik-500;
    margin-bottom: 20px;
  }
  &__text{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 70px;
    padding-right:30px;
  }
  &__list {
    margin-bottom:65px;
    padding-left:30px;
  }
  
  &__list-item{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 35px;
    list-style-type:decimal-leading-zero;
    padding-left:10px;
  }
}

// end terms&condition-page
// login-page
.login{
  padding:120px 0 120px;
  @extend %rubik-500;
  &__form{
    max-width:480px;
    width:100%;
    margin:0 auto;
    color:$default; 
  }
  &__label{
    display:block;
    margin-bottom: 30px;
    color:$default; 
  }
  &__input{
    display:block;
    width:100%;
    font-size: 16px;
    line-height: 0;
    padding:15px 10px;
    border:2px solid $border;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.02);
  }
  &__btn{
    @extend %rubik-500;
    font-size: 18px;
    color:#fff;
    background-color: $btn;
    border:none;
    width:100%;
    padding:15px 0;
    margin-bottom: 35px;
    transition:all .3s;
    border:3px solid $btn;
    &:hover{
      color:$cards;
      background-color: transparent;
      border:3px solid $btn;
    }
  }
  &__form-text{
    display:flex;
    justify-content:space-between;
    color:$default;
    padding-bottom:35px;
    border-bottom:2px solid $border;
  }
  &__label-check{
    padding-left:20px;
    position:relative;
  }
  // check-box
  &__check-box{
    position:absolute;
    width:1px;
    height:1px;
    overflow:hidden;
    clip:rect(0 0 0 0);
  }
  .check-box__style{
    position:absolute;
    margin-left:-20px;
    width:14px;
    height:14px;
    border:1px solid $btn;
    border-radius:3px;
    top:50%;
    transform:translateY(-50%);
  }
  &__check-box:checked + .check-box__style{
    background-image: url('../images/icons/check-on.svg');
    background-position: center top;
    background-color: $border;
  }
  &__check-box:focus + .check-box__style{
    box-shadow: 0 0 0 2px $btn;
  }
  // end check-box
  &__form-link{
    color:$default;
  }

}
// register
.register{
  text-align: center;
  padding-top: 30px;
  max-width:470px;
  width:100%;
  margin: 0 auto;
  color:$default;
  @extend %rubik-500;
  line-height: 24px;
  font-size: 16px;
  &__text{
    margin: 0 auto;
    margin-bottom: 30px;
  }
  &__link{
    display:block;
    width:100%;
    background-color: $btn;
    padding:18px 0;
    font-size: 18px;
    color:#fff;
    transition:all .3s;
    border:3px solid $btn;
    &:hover{
      color:$cards;
      background-color: transparent;
      border:3px solid $btn;
    }
  }
}
// end register
// partners-login-page
.partners-login{
  background-color: #fef7f0;
  padding:80px 0 80px;
  &__inner{
    display:flex;
    justify-content:space-around;
    align-items:center;
  }
}
// end partners login-page
// end login-page
// product page 1
.product-page{
  padding:120px 0;
  &__inner{
    display:flex;
  }
  &__filters{
    max-width:270px;
    width:100%;
    margin-right: 30px;
  }
  &__filtration-item{
    width:100%;
    margin-bottom: 35px;
  }
  &__filtration-title{
    text-transform: uppercase;
    @extend %dmsans-700;
    font-size: 18px;
    color:$cards;
  }
}
// filter category
.filter-category{
  &__form{
    margin-top: 30px;
    color:$cards;
  }
  &__label{
    display:block;
    @extend %cursor;
    border-radius: 12px;
    transition:all .4s;
    &:hover{
      background-color: #edf1f4;
      transform:translate3d(3px, 3px, 3px);
    }
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked + .filter-category__checkbox{
      background-color: #edf1f4;
      border-radius:12px;
    }
  }
  &__checkbox{
    padding:15px;
    overflow: hidden;
    display:flex;
    justify-content:space-between;
    align-items:center;
  }
  &__checkbox-text{
    font-size: 18px;
  }
  &__checkbox-item{
    width:5px;
    height:10px;
    padding: 0 15px;
    background-image: url('../images/icons/checkbox-arrow.svg');
    background-repeat: no-repeat;
  }  
    
}
// end filter ctegory
// filter-price
.irs {
  margin-top: 25px;
}
.irs--flat .irs-min, .irs--flat .irs-max {
  display:none;
}
// line
.irs--flat .irs-line {
  top: 25px;
  height: 3px;
  background-color: #c2d2db;
  border-radius: 4px;
}
.irs--flat .irs-bar {
  top: 24px;
  height: 5px;
  background-color: #a3bbc8;
}
// kubik
.irs--flat .irs-handle>i:first-child {
  width: 15px;
  height: 15px;
  top:-3px;
  margin-left:-1px;
  background-color: #a3bbc8;
  &:hover{
    background-color: #516881;
  }
}
.irs--flat .irs-handle {
  top: 22px;
  width: 0px;
  height: 0px; 
  background-color: transparent;
}

// price
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
  display:none;
}
.filter-price{
  &__form{
    padding-bottom:35px;
  }
  &__box{
    width:100%;
    display:flex;
    align-items: center;
    color:$cards;
    margin-top:10px;
  }
  &__from{
    margin-right: auto;
  }
}
// end filter-price
// filter brands
.filter-brand{
  &__form{
    margin-top: 30px;
  }
  &__label{
    display:block;
    @extend %cursor;
    border-radius: 12px;
    transition:all .4s;
    &:hover{
      background-color: #edf1f4;
      transform:translate3d(3px, 3px, 3px);
    }
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked + .filter-brand__checkbox{
      background-color: #edf1f4;
      border-radius:12px;
      .filter-brand__checkbox-numb--active{
        color:$cards;
      }
    }
  }
  &__checkbox{
    background-color: transparent;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:15px;
    color:$cards;
    font-size: 16px;
  }
  &__checkbox-numb{
    color:$links;
  }
}
// end filter brands
// recent
.filter-recent{
  &__items{
    margin-top: 30px;
  }
  &__item{
    display:flex;
    justify-content:space-between;
    margin-bottom: 20px;
    transition: all .3s;
    &:hover{
      transform:scale(1.1);
    }
  }
  &__img{
    width:70px;
    height:70px;
    padding:5px;
    border:2px solid #f2f2f2;
    overflow: hidden;
    img{
      object-fit: cover;
      margin: 0 auto;
    }
  }
  &__box{
    max-width:190px;
    height:70px;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:start;
    padding:5px;
  }
  &__title{
    font-size: 18px;
    line-height: 20px;
    color:#333;
    margin-bottom: 10px;
  }
  &__price{
    font-size: 15px;
    color:#333;
    line-height: 15px;
    margin-top: 10px;
  }
}
.jq-ry-container{
  padding:0;
}
// end recent
// end filtration
// content
.product-page{
  &__content-inner{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px 30px;
    margin-bottom: 100px;
  }
}
// end content
// end product-page 1


// product-page 2





// end product-page 2


// product-detail-page
  .product-detail{
    padding:120px 0;
    &__inner{
      display:flex;
      justify-content:space-between;
    }
     // product-detail-content
    &__content{
      max-width:570px;
      width:100%;
      padding-left:20px;
    }
    &__content-title,
    &__content-price{
      font-size: 40px;
      color:$ptitle;
      margin-bottom: 25px;
    }
    &__star{
      margin-bottom: 35px;
    }
    &__content-text{
      font-size: 16px;
      color:$cards;
      margin:10px 0 35px;
    }
    // product-number
    &__content-form{
      margin-bottom: 40px;
    }
    &__content-numb{
      display:inline-block;
      text-align: center;
      margin-right: 15px;
    }
    .jq-number {
      padding: 0;
    }
    .jq-number__field {
      width: 150px;
      height: 50px;
      border: 1px solid $btn;;
      border-radius:0;
      box-shadow: none;
    }
    .jq-number__field input {
      padding:2px 2px 2px 12px;
      @extend %rubik-400;
      font-size: 18px;
      line-height: 46px;
      color:$ptitle;
      z-index: 0;
  }
  .jq-number__spin.minus{
    top: 1px;
    left: 1px;
    border-right:1px solid $btn;
  }
  .jq-number__spin.plus{
    top: 1px;
    right: 1px;
    border-left:1px solid $btn;
    background-color: #fff;
  }
  .jq-number__spin {
    position: absolute;
    width: 48px;
    height: 48px;
    border: none;
    border-radius:0;
    background: transparent;
    box-shadow: none;
    box-shadow:none;
    text-shadow:none;
    cursor: pointer;
  }
  .jq-number__spin::after {
    content: '';
    position: absolute;
    border:none;
  }
  .jq-number__spin.minus::after {
    width:16px;
    height:2px;
    background-color: $ptitle;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
  }
  .jq-number__spin.plus::before {
    content:'';
    position:absolute;
    width:2px;
    height:16px;
    background-color: $ptitle;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
  }
  .jq-number__spin.plus::after {
    width:16px;
    height:2px;
    background-color: $ptitle;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
  }
  &__content-btn{
    font-size: 15px;
    line-height: 30px;
    border:none;
    text-transform: uppercase;
    background-color:$btn;
    color:#fff;
    padding: 10px 50px;
    border-radius:6px;
    @extend %cursor;
    transition:all .3s;
    &:hover{
    animation: pulse 1s infinite;
    }
  }
    //end product-number
  }
  .content-list{
    &__item{
      display:flex;
      padding: 0;
      margin: 0;
      margin-bottom: 15px;
      font-size: 16px;
      line-height: 30px;
      color:$cards;
    }
    &__item-title{
      padding-right:5px;  
    }
    &__item-text{
      a{
        color:$cards;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
  // end product-detail-content
  // product-slider
  .slick-vertical .slick-slide {
    height: 160px;
    margin-bottom: 25px;
    border:none;
}
  .product-slider{
    &__item-thumb{
      max-width:140px;
      margin-right: 20px;
      @extend %cursor;
      float:left;
      img{
        width:140px;
        height:160px;
        border:1px solid $border;
        box-shadow: 1px 1px 10px 5px $border;
        object-fit: cover;
      }
    }
    &__item-big{
      max-width: 390px;
      width:100%;
      height: 530px;
      @extend %cursor;
      box-shadow: 1px 1px 10px 5px $border;
      float:left;
      img{
        width:390px;
        height:530px;
        border:1px solid $border;
        object-fit: cover;
      }
    }
  }
  // end product-slider
 
// end product-detail-page





@import 'media';