@import 'vars';
@import 'fonts';
@import 'libs';
@import 'reset';
@import 'global';

// header
.header{
  padding:40px 0;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.menu{
  &__list{
    display:flex;
  }
  &__list-item + .menu__list-item{
    margin-left: 30px;
  }
  &__list-link{
    @extend %poppins-700;
    font-size:15px;
    line-height: 12px;
    color:$default;
  }
}

.user-nav{
  display:flex;
  &__link{
    width:50px;
    height:50px;
    box-sizing: border-box;
  }
  &__link--heart{
    border-radius:50px 0 0 50px;
    &:after{
      content:'';
      position:absolute;
      right:0;
      width:3px;
      height:30px;
      background-color: #fde7d3;
      top:50%;
      transform: translateY(-50%);
    }
  }
  &__link--cart{
    border-radius: 0 50px 50px 0 ;
  }
  &__link--heart,
  &__link--cart{
  padding:20px 30px;
  margin: 0;
  position:relative; 
  background-color: #fcd7b6;
  }
  &__link--search{
    margin-right: 20px;
  }
  &__link--dots{
    margin-left: 20px;
  }
  &__link--dots,
  &__link--search{
    position:relative;
    padding:0;
    border-radius: 50%;
    background-color: #edf1f4;
    transition:all .3s;
    &:hover{
      background-color: #a3bbc8;
    }
  }
  &__img{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate3d(-50%, -50%, 0);
  }
  &__numb{
    position:absolute;
    top:15%;
    right:15%;
    transform: translate(-15%, -15%);
    background-color: #fff;
    border-radius:50%;
    font-size:10px;
    line-height:16px;
    width:16px;
    text-align: center;
    color:#243f4d;
  }
}

// end header
// slider
.slider{
  padding-top:220px;
  background-repeat: no-repeat;
  background-position: 84% 50%;
  background-color: #fcd7b6;
  &__item{
    padding-left:40px;
  }
  &__content-box{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom: 160px;
  }
  &__content{
    max-width:470px;
  }
  &__content-title{
    @extend %rubik-500;
    font-size: 72px;
    line-height:86px;
    color:#243f4d;
    margin-bottom: 35px;
  }
  &__content-text{
    font-size: 18px;
    line-height: 30px;
    color:$default;
    max-width:370px;
  }
  &__content-link{
    display:inline-block;
    color:#fff;
    margin-top: 40px;
    background-color: #a3bbc8;
    @extend %lb;
    transition:all .3s;
    & path{
      fill:#fff;
    }
    &:hover{
      animation: pulse 1s infinite;
      border-radius:12px;
      background-color: #fff;
      color: #a3bbc8;
      path{
        fill:#a3bbc8;
      }
    }
    
  }
  .slick-dots{
    display:flex;
    justify-content: center;
    margin: 0;
    padding:0;
    padding-bottom: 45px;
  }
  .slick-active button{
    opacity:1;
  }
  li{
    padding:0;
    button{
      line-height: 0;
      border-radius: 50%;
      font-size: 11px;
      padding:12px 10px;
      border:none;
      margin-right: 10px;
      opacity:0.5;
    }
  }  
}

// end slider
// info
.info{
  min-height:170px;
  background-color: #fef7f0;
  &__items{
    display:flex;
    justify-content:space-around;
    align-items:center;
  }
  &__item{
    display:flex;
    align-items: flex-start;
    min-height: 90px;
    margin: 45px 0;
  }
  &__item-icon{
    padding:5px;
    position:relative;
    &::after{
      content:'';
      position:absolute;
      background-image: url(../images/icons/info-decor.svg);
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      right:0;
      bottom:0;
    }
  }
  &__item-inner{
    max-width:215px;
    margin-left: 25px;
  }
  &__item-title{
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 18px;
    color:#414141;
  }
  &__item-text{
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 30px;
    color:#585858;
  }
}
// end info
// filter product

.product__items{
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  grid-column-gap:30px;
  grid-row-gap:40px;
}
.product{
  padding:75px 0 90px;
  &__item{
    max-width:270px;
    min-height:380px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    background-color: #fff;
    border-radius:12px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    position:relative;
    &:hover .product__item-inner{
      opacity:1;
    }
  }
  &__item-photo{
    padding:30px 15px 70px;
    margin:0 auto;
    min-height:305px;
  }
  &__item-title{
    @extend %dmsans-500;
    color:$cards;
  }
  &__item-price{
    @extend %dmsans-700;
    color:#a3bbc8;
    margin-bottom: 40px;
  }
  &__item-inner{
    opacity:0;
    position:absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%);
    transition: opacity .2s;
  }
  &__item-menu{
    display:flex;
    justify-content:space-around;
    align-items: center;
  }
  &__item-link + .product__item-link{
    margin-left: 25px;
  }
  &__item-link{
    line-height: 0;
    padding:12px 12px;
    border-radius: 50%;
    transition:all .3s;
  }
  &__item-link,
  &__item-icon{
    background-color: #fff;
    &:hover{
      background-color: #a3bbc8;
      fill:#fff;
    }
  }
  
}
// end filter
.promo{
  padding: 85px 0 50px;
  &__inner{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
  }
  &__item{
    display:flex;
    justify-content:flex-end;
    align-items: center;
    background-color: #feefe2;
    max-width:870px;
    min-height: 400px;
    width:100%;
    &:first-child{
      margin-right: 20px;
    }
  }
  &__item-content{
    max-width: 400px;
    color:$cards;
  }
  &__item-img{
    margin-top: -150px;
    margin-right: 20px;
  }
  &__item-title{
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 25px;
    max-width: 250px;
  }
  &__item-text{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 25px;
  }
  &__item-link{
    @extend %lb;
    display:inline-block;
    border:1px solid $cards;
    border-radius: 8px;
    color:$cards;
    transition:all .3s; 
    & path{
      fill:inherit;
    }
    &:hover{
      background-color: $cards;
      color:#fff;
      path{
        fill:#fff;
      }
    }
  }
}
// end promo

// design
.design{
  padding:50px 0 60px;
  &__items{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap:35px 30px;
  }
  &__item{
    position:relative;
    transition:transform .3s linear;
    &:hover{
      transform: scale(1.1);
      z-index:5;
    }
  }
  &__item-content{
    position:absolute;
    top:35px;
    left:35px;
    @extend %dmsans-700;
    color:$title;
  }
  &__item-img{
    max-width:370px;
    width:100%;
    height:250px;
    object-fit: cover;
  }
  &__item-title{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
    max-width:180px;
  }
  &__item-subtitle{
    color:#a3bbc8;
    font-size: 16px;
  }

}
// end design

// video
.video{
  margin:60px 0 55px;
  min-height:500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display:flex;
  justify-content: center;
  align-items:center;
  &__link-btn{
    border-radius: 50%;
    &:hover{
        animation: pulse 1s infinite;
      }
    }
}

// video
// articles
.articles{
  padding:55px 0 0px;
  &__wrapper{
    display:flex;
    justify-content:space-between;
    align-items: baseline;
    margin-bottom: 30px;
  }
  &__title{
    margin-bottom: 0;
  }
  &__link{
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 24px;
    color:$title;
    & span{
      margin-left: 15px;
      & path{
        fill:$title;
      }
    }
  }
  &__inner{
    background-color: #fef7f0;
    margin-top:280px;
  }
  &__items{
    display:flex;
    justify-content: space-between;
    transform:translateY(-250px);
  }
  &__item{
    max-width:370px;
    width:100%;
    background-color: #fff;
    border-radius: 18px;
    transition:all .3s;
    &:hover{
      transform:scale(1.1);
    }
  }
  &__item-link{
    display:flex;
    flex-direction: column;
  }
  &__item-img{
    max-width:370px;
    width:100%;
    height:250px;
    object-fit: cover;
  }
  &__item-mark{
    text-transform: uppercase;
    max-width:100px;
    @extend %poppins-700;
    line-height: 20px;
    color:#fff;
    background-color: #a3bbc8;
    border-radius:50px;
    padding:4px 30px;
    margin-left: 30px;
    transform:translateY(-15px);
  }
  &__item-title{
    @extend %dmsans-500;
    font-size: 18px;
    line-height: 22px;
    color:#262626;
    padding-bottom:22px;
    margin:0 auto;
    max-width:315px;
    width:100%;
    border-bottom:1px solid #e0e0e0;
  }
}

.item-info{
  min-height:60px;
  display:flex;
  flex-direction:row;
  align-items:center;
  text-transform: uppercase;
  color:$title;
  padding-left:30px;  
  &__date{
    margin-right: 30px;
  }
}
// partners
.partners{
  display:flex;
  justify-content: space-around;
  align-items:center;
  min-height:100px;
  margin-top:-160px;
  padding-bottom:90px;
}
// end partners
// end articles
// footer
.footer-top{
  padding-top:70px;
  padding-bottom: 60px;
  display:flex;
  justify-content:space-between;
  border-bottom:1px solid #dae4e9;
  &__logo{
    display:inline-block;
    margin-bottom: 25px;
  }
  &__item{
    max-width:150px;
  }
  &__item-contact{
    max-width:200px;
  }
  &__item-form{
    width:300px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: 25px;
    padding-top:22px;
  }
  &__list-item{
    @extend %rubik-500;
    margin-bottom: 20px;
    line-height: 18px;
  }
  &__list-link{
    color:$links;
    font-size:14px;
  }
  &__text{
    color:$links;
    font-size:14px;
    line-height:18px;
    margin-bottom: 30px;
  }
  &__form{
    @extend %dmsans-400;
  }
  &__form-input{
    font-size: 12px;
    line-height:18px;
    padding:8px 10px 8px 15px;
    margin-right: 5px;
  }
  &__form-btn{
    background-color: #a3bbc8;
    border:none;
    color:#fff;
    padding:10px 15px;
    font-size: 14px;
    line-height: 21px;
    cursor:pointer;
  }
}

.footer-bottom{
  display:flex;
  justify-content: space-between;
  @extend %rubik-500;
  color:$links;
  padding:35px 30px;
  &__list{
    display:flex;
  }
  &__list-item{
    position:relative;
  }
  &__list-item + .footer-bottom__list-item{
    margin-left: 20px;
    padding-left:20px;
  }
  &__list-item + .footer-bottom__list-item::before{
    content:'|';
    position:absolute;
    left:0;
  }
}
// end footer
// breadcrumbs
.top{
  min-height:125px;
  background-color: #edf1f4;
}
// end breadcrumbs
// About-page
.about{
  padding:120px 0;
  &__inner{
    display:flex;
    justify-content:space-between;
    align-items:center;
  }
  &__img{
    min-height:680px;
    max-width:570px;
    width:100%;
    object-fit: cover;
  }
  &__content{
    margin-left: 20px;
    max-width:570px;
    width:100%;
  }
  &__content-subtitle{
    display:flex;
    justify-content:start;
    align-items:center;
    margin-bottom: 40px;
  }

  &__content-numb{
    @extend %poppins-700;
    font-size: 140px;
    line-height: 0;
    color:#a3bbc8;
  }

  &__content-numbtext{
    font-size: 16px;
    line-height: 16px;
    color:#243f4d;
    margin-top: 18px;
    margin-left:30px;
  }
  &__title{
    color:#243f4d;
    text-align: left;
    margin-bottom: 45px;
  }
  &__content-text{
    color:#243f4d;
    font-size: 16px;
    max-width:550px;
    width:100%;
    padding-bottom: 65px;
    border-bottom:1px solid #e6eaf0;
    margin-bottom: 40px;
  }
  &__content-list{
    display:flex;
    max-width:570px;
    width:100%;
  }
  &__content-item + .about__content-item{
    margin-left: 20px;
  }
  &__content-item{
    @extend %dmsans-700;
    font-size: 36px;
    color:#243f4d;
    padding:0 20px 0 45px;
    position:relative;
    span{
      display:inline-block;
      font-size: 16px;
      color:#4c4c4c;
    }
    &::before{
      content:'';
      position:absolute;
      left:0;
      top:50%;
      transform:translateY(-50%);
      width: 42px;
      height: 40px;
    }
  }
  &__content-item--project::before{
    background-image: url('../images/about-page/progect.svg');
    background-repeat: no-repeat;
  }
  &__content-item--revenue::before{
    background-image: url('../images/about-page/revenue.svg');
    background-repeat: no-repeat;
  }
  &__content-item--awards{
    padding-right:0;
    &::before{
    background-image: url('../images/about-page/award.svg');
    background-repeat: no-repeat;
  }
  }
  &__content-item--project,
  &__content-item--revenue{
    &::after{
      content:'';
      position:absolute;
      background-color: #e6eaf0;
      height:80px;
      width:1px;
      right:0;
      top:50%;
      transform:translateY(-50%);
    }
  }

}
// about-info
.about-info{
  background-color: #fcd7b6;
  margin-bottom: 55px;
  &__items{
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:75px 0;
  }
  &__item{
    display:flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
  }
  &__img{
    margin-bottom: 20px;
    position:relative;
    &::after{
      content:'';
      position:absolute;
      bottom:-5px;
      right:-8px;
      background-color: #2da6f7;
      width: 30px;
      height: 30px;
      border-radius:50%;
      z-index:0;
      opacity:0.5;
    }
  }
  &__text{
    @extend %dmsans-700;
    color:#243f4d;
  }
  &__numb{
    font-size: 36px;
    margin-bottom: 20px;
  }
  &__subtitle{
    font-size: 18px;
  }
}
// end about-info
// team
.team{
  padding: 65px 0;
  &__inner{
    display:flex;
    justify-content:space-between;
  }
  &__content{
    max-width:300px;
    width:100%;
    text-align-last: left;
    color:#243f4d;
  }
  &__text{
    margin-bottom: 40px;
    font-size: 16px;
  }
  &__link{
    @extend %lb;
    background-color: #a3bbc8;
    border:none;
    border-radius:12px;
    color:#fff;
    transition:all .3s;
    &:hover{
      border:1px solid #a3bbc8;
      background-color:transparent;
      color:#a3bbc8;
      animation: pulse 1s infinite;
      path{
        fill:#a3bbc8;
      }
    }
  }
  &__foto{
    max-width:770px;
    width:100%;
  }
  &__foto-items{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-gap:40px 30px;
  }
  &__foto-item{
    max-width:370px;
    width:100%;
    min-height:380px;
    z-index:1;
    position:relative;
  }
  
  &__foto-infobox{
    min-height:110px;
    max-width:325px;
    width:100%;
    background-color: #fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 25px;
    position:absolute;
    left:0;
    bottom:0;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    z-index:2;
  }
  &__foto-info{
    max-width:180px;
    width:100%;
  }
  &__foto-link{
    @extend %dmsans-700;
    font-size: 22px;
    color:#243f4d;
  }
  &__foto-position{
    font-size: 16px;
    line-height: 30px;
    color:#565872;
  }
  &__foto-icons{
    display:inline-flex;
    justify-content:space-between;
    align-items: center;
  }
  &__foto-icon{
    margin:5px;
    background-color: #f6f6f6;
    border-radius:50%;
    transition:all .3s;
    &:hover{
      background-color: #e2e2e2;
      img{
        transform:scale(1.1);
      }
    }
  }
  &__foto-icon--instagram{
    padding:10px;
  }
  &__foto-icon--google{
    padding:10px 8px;
  }
}
// end team







.Rectangle_1 {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
  position: absolute;
  left: 774px;
  top: 1895px;
  width: 325px;
  height: 111px;
  z-index: 74;
}





// end About page

@import 'media';