<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/404-page.min.css">
  <title>MARCHO</title>
</head>
<body>
  {% include 'app/moduls/header/_header.html'%}
  <main class="main">
  {% include 'app/moduls/404-page/_404-page.html'%}
  </main>
  {% include 'app/moduls/footer/_footer.html'%}
  <script src="js/main.min.js"></script>
</body>
</html>