<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/index.min.css">
  <title>MARCHO</title>
</head>
<body>
  {% include 'app/moduls/header/_header.html'%}
  <main class="main">
  {% include 'app/moduls/top-slider/_top-slider.html'%}
  {% include 'app/moduls/categories-info/_categories-info.html'%}
  {% include 'app/moduls/video-fashion/_video-fashion.html'%}
  {% include 'app/moduls/product/_product.html'%}
  {% include 'app/moduls/promo/_promo.html'%} 
  {% include 'app/moduls/partners/_partners.html'%}
  {% include 'app/moduls/blog/_blog.html'%}
  </main>
  {% include 'app/moduls/footer/_footer.html'%}
  <script src="js/main.min.js"></script>
</body>
</html>