// blog

.blog{
  padding:50px 0 160px;
  background-image: url(../images/decor/blog-decor-bg.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size:auto;
  &__items{
    display:flex;
    justify-content:space-between;
    position:relative;
    &::after{
      content:'';
      position:absolute;
      top:-25px;
      right:-20px;
      background-image: url('../images/decor/blog-decor.svg');
      width: 126px;
      height: 53px;
      z-index:-1;
    }
  }
  &__item{
    max-width:370px;
    border:1px solid #ececec;
    transition:all .3s;
    &:hover{
      border:none;
      box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
      .blog__item-link{
        color:$accent;
        &::after{
          background-image: url('../images/icons/arrow-blog-accent.svg');
        }
      }
    }
  }
  &__item__imglink{
    display:block;
    img{
      height: 280px;
      object-fit:cover;
    }
  }
  &__item-box{
    padding:30px 35px;
  }
  &__item-title{
    color:$title;
    @extend %roboto-400;
    font-size: 22px;
    margin-bottom: 20px;
  }

  &__item-link{
    position:relative;
    transition:all .3s;
    &::after{
    content:"";
    position:absolute;
    background-image: url('../images/icons/arrow-blog.svg');
    height:8px;
    width:10px;
    top:50%;
    transform:translateY(-50%);
    }
  }
}
.blog-box{
  display:flex;
  justify-content:space-between;
  margin-bottom: 20px;
  &__author,
  &__date{
    padding-left: 30px;
    margin-right: 30px;
    position:relative;
    &::before{
      content:'';
      position:absolute;
      width: 20px;
      height: 20px;
      left:0;
      top:50%;
      transform:translateY(-50%);
    }
  }
  &__author::before{
      background-image: url('../images/icons/user-blog.svg');
    }
  
  &__date::before{
      background-image: url('../images/icons/date-blog.svg');    
    }
}
// end blog